.intro__list {
    border: 1px solid red;
    font-family: 'Inter';
font-style: normal;
font-weight: 700;
font-size: 12px;
line-height: 18px;
/* or 150% */
height: 90px;
margin: 33px 0 0;
padding: 0;
list-style: none;
}