.header {
    display: flex;
    max-width: calc(100% - 2 * 48px);
    height: 52px;
    margin: 0 auto 0;
    padding: 28px 0 0;
    align-items: end;
    justify-content: space-between;
}

@media screen and (max-width: 768px) {
    .header {
        max-width: calc(100% - 2 * 24px);
    }
}

@media screen and (max-width: 459px) {
    .header {
        max-width: calc(100% - 2 * 16px);
        padding: 16px 0 0;
    }
}