.lead__title {
    width: calc(100% - 2 * 132px);
    max-width: 720px;
    margin: 0 auto 0;
    padding: 56px 0 0;
    font-weight: 900;
    font-size: 96px;
    line-height: calc(1 / 96 * 100);
    text-align: center;
    display: flex;
    justify-content: center;
}

@media screen and (max-width: 1024px) {
    .lead__title {
        width: calc(100% - 2 * 104px);
    }
}

@media screen and (max-width: 768px) {
    .lead__title {
        width: calc(100% - 2 * 24px);
    }
}

@media screen and (max-width: 703px) {
    .lead__title {
        font-size: 78px;
        line-height: calc(1 / 78 * 82);
    }
}

@media screen and (max-width: 560px) {
    .lead__title {
        width: calc(100% - 2 * 16px);
        font-size: 64px;
        line-height: calc(1 / 64 * 68);
    }
}

@media screen and (max-width: 459px) {
    .lead__title {
        max-width: 288px;
        font-size: 40px;
        line-height: calc(1 / 40 * 44);
    }
}