.place__paragraph{
    margin: 0;
    padding: 27px 0 0;
}

.place__paragraph:first-of-type {
    padding: 0;
}

@media screen and (max-width: 768px) {
    .place__paragraph {
        padding: 25px 0 0;
    }
}