.place__paragraph {
    margin: 0;
    padding: 0;
    list-style-type: none;
    font-weight: 400;
    font-size: 18px;
    line-height: 1.61;
}

@media screen and (max-width: 459px) {
    .place__paragraph {
        padding: 0 16px 0;
    }
}