.place__link {
    text-decoration: underline;
    margin: 0;
    padding: 12px 0 0;
    color: #fff;
    font-weight: 400;
    font-size: 18px;
    line-height: calc(1 / 18 * 22);
}

.place__link:hover {
    opacity: .8;
    color: #fff
}